:root {
  --header-height: 80px;
  --main-color: rgb(100, 100, 100);
}

body {
  background: rgb(100, 100, 100);
  font-family: "Merienda One";
}

#header-section {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header-section {
  height: var(--header-height);
}

#header {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  width: 100%;
}

#logo {
  display: flex;
  justify-content: left;
  align-self: flex-start;
  width: 20%;
}

#logo img {
  width: 100%;
  height: 100%;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  width: 80%;
  height: 100%;
}

#menu ul li {
  display: inline-block;
  padding: 0 10px;
}
#menu ul li a {
  color: red;
  text-decoration: none;
}

#menu ul li :hover {
  color: white;
}

#menu li .navigation-highlight {
  color: white;
}

.section {
  background-color: bisque;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0 0 1.5em 0;
  scroll-margin-top: calc(var(--header-height) * 1.25);
}

.section h1 {
  background-color: aqua;
  text-align: center;
}

.section div {
  margin-left: 3%;
  margin-right: 3%;
}

.section iframe {
  display: block;
  margin: 0 auto;
}

.section .fb-like {
  display: block;
  text-align: center;
}
.section .qr_image {
  display: block;
  margin: 0 auto;
}
